.footer-service li {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.footer-service li {
    list-style: none;
    display: inline;
    padding: 10px;
    text-align: center;
}

.footer-service li a {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
}

.pipesymbol {
    font-weight: normal;
    line-height: 18px;
    color: #000;
}