.container1 {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    border-radius: 5px;
}

.view {
    border: 1px solid #ff8020;
    color: #fff;
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.3em;
    background: #ff8020;
    margin: 10px 0;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.view:hover {
    background: transparent;
    color: #fff !important;
    border: 1px solid #fff;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.container1:hover .overlay {
    opacity: 1;
}

.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.accordion-item {
    border: 2px solid !important;
    border-radius: 2px !important;

    button {
        background: antiquewhite;
    }
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}