<section>
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="4000">
        <img
          src="https://www.meralaundry.in/UPLOADS/Slider/4/FLAT_Rs_30_off-1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-interval="3000">
        <img
          src="https://www.meralaundry.in/UPLOADS/Slider/2/FLAT_Rs_30_off-_(3).png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-interval="3000">
        <img
          src="https://www.meralaundry.in/UPLOADS/Slider/3/FLAT_Rs_30_off-_(4).png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h2 class="text-center mt-3">
    <strong><u>PRICING & SERVICES</u></strong>
  </h2>
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-3 p-2 p-md-5">
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service1.png"
            />
            <p class="font-weight-bold">
              Wash &amp; Fold <br />Starts @ ₹59/kg
            </p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service2.png"
            />
            <p class="font-weight-bold">
              Wash &amp; Iron <br />Starts @ ₹89/kg
            </p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service3.png"
            />
            <p class="font-weight-bold">
              Express Laundry <br />Starts @ ₹149/kg
            </p>
            <div>🕒 24 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service4.png"
            />
            <p class="font-weight-bold">Dry Cleaning <br />Starts @ ₹59/kg</p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h2 class="text-center mt-3">
    <strong><u>HOW IT WORKS?</u></strong>
  </h2>
  <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-3 p-2 p-md-5">
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service1.png"
            />
            <p class="font-weight-bold">
              Wash &amp; Fold <br />Starts @ ₹59/kg
            </p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service2.png"
            />
            <p class="font-weight-bold">
              Wash &amp; Iron <br />Starts @ ₹89/kg
            </p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service3.png"
            />
            <p class="font-weight-bold">
              Express Laundry <br />Starts @ ₹149/kg
            </p>
            <div>🕒 24 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="box shadow">
        <div class="container1">
          <div class="text-center p-3">
            <img
              src="https://www.meralaundry.in/assets/web/images/service4.png"
            />
            <p class="font-weight-bold">Dry Cleaning <br />Starts @ ₹59/kg</p>
            <div>🕒 48-72 hrs</div>
          </div>
          <div class="overlay">
            <div>
              <a
                href="#"
                class="btn view"
                data-toggle="modal"
                data-target="#location"
                data-t="0"
                >View Price</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-center mt-3">
    <strong><u>OUR PROMISE</u></strong>
  </h2>
  <div class="row p-2 p-md-5">
    <div class="col-lg-6">
      <div class="">
        <table class="table">
          <tbody>
            <tr>
              <td>
                <img
                  src="https://www.meralaundry.in/assets/web/images/promise1.png"
                />
              </td>
              <td>
                <p>
                  <strong>Free pick &amp; drop</strong><br />
                  We provide Free pick &amp; drop facility at your doorstep.
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <img
                  src="https://www.meralaundry.in/assets/web/images/promise2.png"
                />
              </td>
              <td>
                <p>
                  <strong>Affordable</strong><br />
                  Our pricing policy is fair &amp; transparent. What you see is
                  what you pay!
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <img
                  src="https://www.meralaundry.in/assets/web/images/promise3.png"
                />
              </td>
              <td>
                <p>
                  <strong>Quality assurance</strong><br />
                  We strive to give best laundry &amp; dry cleaning experience.
                </p>
              </td>
            </tr>

            <tr>
              <td>
                <img
                  src="https://www.meralaundry.in/assets/web/images/promise4.png"
                />
              </td>
              <td>
                <p>
                  <strong>Convenience</strong><br />
                  Book your service in less then 20 seconds.
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--col6-->

    <div class="col-lg-6">
      <img
        src="https://www.meralaundry.in/assets/web/images/sideimg.jpg"
        class="img-responsive"
      />
    </div>
  </div>
</section>

<section class="container">
  <h2 class="text-center mt-3">
    <strong><u>FAQ's?</u></strong>
  </h2>
  <div class="accordion accordion-flush p-2 p-md-5" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          How does it work?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          You can place order & rider will come at your doorstep for pickup and
          drop.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          How many days does it take to process?
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Usually delivery is done in 48-72 hours
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Do you have free pick & drop?
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">Yes we provide Free pick & drop.</div>
      </div>
    </div>
  </div>
</section>
